html,body{
  height: 100%;
}
body{
  background-color: #fff;
  color: #333;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
/* 页头 */
.doc-header{
  width: 100%;
  height: 62px;
  line-height: 62px;
  margin-bottom: 40px;
  background: #172671;
}
.doc-header__inner{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  z-index: 3;
  min-width: 1150px;
}
.doc-header__inner:after{
  content: '';
  display: block;
  clear: both;
}
.doc-title{
  color: #fff;
  float: left;
  display: inline-block;
  height: 100%;
  margin-right: 2%;
}
.doc-title:after{
  content: '';
  display: block;
  clear: both;
}
.doc-book__main{
  height: 100%;
}
.doc-title__logo{
  display: inline-block;
  height: 100%;
  width: 272px;
  background: url('./icon.png') no-repeat 0 8px;
  overflow: hidden;
  float: left;
  text-align: center;
}
.doc-title__sub{
  height: 24px;
  line-height: 24px;
  padding-left: 12px;
  margin-left: 12px;
  display: inline-block;
  margin-top: 12px;
  vertical-align: top;
  position: relative;
  /*font-weight: 500;*/
}
.doc-title__sub:after{
  content: '';
  position: absolute;
  left: -1px;
  height: 20px;
  top: 50%;
  margin-top: -9px;
  width: 1px;
  background-color: #fff;
  opacity: .5;
}
.doc-header-nav{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.doc-header-nav > li{
  float: left;
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  position: relative;
}
.doc-header-nav > li:hover{
  background-color: rgb(18, 30, 90);
}
.doc-header-nav > li a,
.doc-header-nav > li span {
  color: inherit;
  display: block;
  outline: none;
  cursor: pointer;
}
.doc-header-nav > li a:hover,
.doc-header-nav > li span:hover{
  /*color: rgb(0, 136, 249);*/
}
.doc-header-nav > li.has-submenu{
  padding-right: 38px;
}
.doc-header-nav > li.has-submenu:after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 11px;
  height: 7px;
  margin-top: -3.5px;
  background: url('./nav_arrow.png') no-repeat 50% 50%;
  background-size: 100% 100%;
  transform: rotate(0deg);
  transition: transform .3s;
}
.doc-header-nav > li.has-submenu:hover:after{
  transform: rotate(180deg);
}
.doc-header-nav > li.has-submenu:hover .doc-header-nav__sub{
  opacity: 1;
  left: 0;
  top: 100%;
}
.doc-header-nav__sub{
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: rgba(6, 16, 36, .9);
  min-width: 100%;
  position: absolute;
  left: -9999px;
  top: -9999px;
  transition: opacity .3s ease;
}
.doc-header-nav__sub li{
  padding-left: 20px;
  padding-right: 20px;
}
.doc-header-links{
  float: right;
  list-style: none;
  margin: 9px 0;
  padding: 0;
}
.doc-header-links:after{
  content: '';
  display: block;
  clear: both;
}
.doc-header-links__item{
  float: left;
  border: 1px solid #7a808b;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  min-width: 100px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  transition: border-color .3s;
}
.doc-header-links__item:hover{
  border-color: #E9EBEE;
}
.doc-container{
  height: calc( 100% - 80px );
  width: 60%;
  min-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
}
.doc-search{
  display: none;
  background: url('./search-bg.jpg') no-repeat 50% 50% #162438;
  box-sizing: border-box;
  text-align: center;
  height: 134px;
  padding-top: 74px;
}
/* 搜索框 */
.doc-searchbox{
  display: inline-block;
  width: 600px;
  height: 36px;
}
.doc-searchbox:after{
  content: '';
  display: inline-block;
}
.doc-searchbox__input{
  width: 500px;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  padding: 8px 15px;
  box-sizing: border-box;
  border-width: 0;
  float: left;
  outline: 0;
}
.doc-searchbox__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.doc-searchbox__submit{
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  line-height: 36px;
  text-align: center;
  border: 0;
  font-size: 16px;
  color: #fff;
  background: #00A4FF;
  border-radius: 0 3px 3px 0;
  padding: 0;
  outline: 0;
}
/* 文档主区域 */

.doc-book__sidebar-fixed{
  width: 220px;
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 30px;
  position: fixed;
  top: 102px;
  -webkit-transition: all ease .1s;
  -moz-transition: all ease .1s;
  -ms-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s;
}
/* 目录 */
.doc-book-summary{
  height: 100%;
  background:rgba(245,247,250,1);
}
.doc-book-summary .doc-book-summary__select{
}
.doc-book-summary .doc-book-summary__select-handle{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  border: 1px solid #E9EBEE;
  border-left-color: transparent;
  border-top-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.doc-book-summary .doc-book-summary__select-handle:after{
  content: '';
  width: 0;
  height: 0;
  border: 5px solid #666;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0;
  position: absolute;
  top: 22px;
  right: 16px;
}
.doc-book-summary .doc-book-summary__select:hover .doc-book-summary__select-handle,
.doc-book-summary .doc-book-summary__select.is-active .doc-book-summary__select-handle{
  background: #F7F7F7;
  border-color: #E7E7E7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.doc-book-summary .doc-book-summary__select.is-active .doc-book-summary__select-handle:after{
  transform: rotate(180deg);
}
.doc-book-summary .doc-book-summary__select.is-active .doc-book-summary__select-list{
  display: block;
}
.doc-book-summary .doc-book-summary__select-list{
  list-style: none;
  margin: 0;
  padding: 9px 0;
  box-sizing: border-box;
  position: absolute;
  overflow-y: auto;
  width: 100%;
  top: 49px;
  bottom: 20px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #E7E7E7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  z-index: 20;
  display: none;
}
.doc-book-summary .doc-book-summary__select-item{
  padding-left: 16px;
  padding-right: 16px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.doc-book-summary .doc-book-summary__select-item > a,
.doc-book-summary .doc-book-summary__select-item > span{
  transition: color .3s;
  color: #333;
}
.doc-book-summary .doc-book-summary__select-item > a:hover,
.doc-book-summary .doc-book-summary__select-menu .doc-book-summary__select-item > a:hover{
  color: #00A4FF;
}
.doc-book-summary .doc-book-summary__select-menu{
  list-style: none;
  padding: 0;
  margin: 0;
}
.doc-book-summary .doc-book-summary__select-menu .doc-book-summary__select-item{
  font-size: 13px;
  line-height: 30px;
  padding-left: 1em;
}
.doc-book-summary .doc-book-summary__select-menu .doc-book-summary__select-item > a,
.doc-book-summary .doc-book-summary__select-menu .doc-book-summary__select-item > span{
  color: #666;
}
.doc-book-summary__title{
  font-size: 16px;
  color: #222;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}
.doc-book-summary .doc-book-summary__wrap{
  padding-bottom: 6px;
  box-sizing: border-box;
  width:220px;
  height: calc( 100% - 50px );
  overflow-y: auto;
}
.doc-book-summary .doc-book-summary__wrap > .summary,
.doc-book-summary .doc-book-summary__item .doc-book-summary__submenu{
  list-style: none;
  padding: 0;
  margin: 0;
}
.doc-book-summary .doc-book-summary__item{
  min-height: 40px;
  position: relative;
}
.doc-book-summary .doc-book-summary__item .doc-book-summary__handle{
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(239,240,242,1);
  color:rgba(86,86,86,1);
  font-size: 14px;
}
.doc-book-summary .doc-book-summary__item .doc-book-summary__handle .doc-book-summary__indent{
  display: inline-block;
  width: 1em;
  height: 1px;
  padding: 0;
  vertical-align: top;
  opacity: 0;
}
.doc-book-summary .doc-book-summary__item .doc-book-summary__handle .doc-book-summary__text{
  font-size:14px;
  color: rgba(118,120,140,1);
  text-decoration: none;
  padding: 0;
  vertical-align: top;
  position: relative;
}
.doc-book-summary .doc-book-summary__item .doc-book-summary__handle .doc-book-summary__text::before{
  content: '';
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width:2px;
  height:2px;
  background:rgba(130,130,130,1);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -10px;
}
.doc-book-summary .doc-book-summary__item.is-active > .doc-book-summary__handle{
  background:rgba(231,237,247,1);
  color:rgba(65,108,230,1);
}
.doc-book-summary .doc-book-summary__item.is-active:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 40px;
  background-color: #2B98EB;
  z-index: 3;
}
.doc-book-summary .doc-book-summary__item.is-active >  .doc-book-summary__handle .doc-book-summary__text{
  color: #2B98EB;
}
.doc-book-summary .doc-book-summary__item a.doc-book-summary__handle:hover .doc-book-summary__text{
  color: #00A4FF;
}
.doc-book-summary .doc-book-summary__item.is-active .doc-book-summary__handle .doc-book-summary__text::before{
  background-color: #2B98EB;
}
.doc-book-summary .doc-book-summary__item .doc-book-summary__submenu{
  display: none;
}
.doc-book-summary .doc-book-summary__item.has-submenu:after{
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-right: 1px solid #BFBFBF;;
  border-bottom: 1px solid #BFBFBF;;
  transform: rotate(45deg);
  position: absolute;
  right: 18px;
  top: 16px;
}
.doc-book-summary .doc-book-summary__item.has-submenu.is-open:after{
  transform: rotate(225deg);
  top: 16px;
}
.doc-book-summary .doc-book-summary__item.is-active > .doc-book-summary__submenu,
.doc-book-summary .doc-book-summary__item.is-open > .doc-book-summary__submenu{
  display: block;
}

/* 内容 */
.doc-book__container{
  width: calc( 100% - 260px );
  height: 100%;
  display: inline-block;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding-top: 65px;*/
}
/* 面包屑 */
.doc-book__crumb{
  height: 41px;
  border-bottom: 1px solid rgba(239,240,242,1);
}
.doc-book-crumb{
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, .92);
  z-index: 10;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.doc-book-crumb__line:last-child{
  display: none;
}
/* 链接 */
.doc-book-link{
  color: #00A4FF;
}
/* 锚点 */
.doc-book-anchor{
  position: relative;
}
.doc-book-anchor .doc-book-anchor__handle{
  cursor: pointer;
  position: relative;
  padding-right: 15px;
  color: #666666;
}
.doc-book-anchor .doc-book-anchor__handle:after{
  content: '';
  position: absolute;
  right: 0;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -4px;
  transition: transform .3s;
  opacity: .8;
  background: url('./anchor_arrow.svg') no-repeat 50% 50%;
  background-size: 100% 100%;
}
.doc-book-anchor:hover .doc-book-anchor__handle:after{
  transform: rotate(180deg);
}
.doc-book-anchor:hover .doc-book-anchor__list{
  display: block;
}
.doc-book-anchor .doc-book-anchor__list{
  position: absolute;
  left: 0;
  top: 100%;
  list-style: none;
  margin: 0;
  padding: 8px 0;
  background: #FFFFFF;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  border-radius: 3px;
  max-width: 360px;
  display: none;
  max-height: 300px;
  overflow-y: auto;
  z-index: 999;
}
.doc-book-anchor .doc-book-anchor__item{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.doc-book-anchor .doc-book-anchor__item.is-active .doc-book-anchor__item-text{
  color: #00A4FF;
}
.doc-book-anchor .doc-book-anchor__item:hover{
  background-color: #F5F6F6;
}
.doc-book-anchor__item-text{
  color: #333;
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}
/* 内容 */

.doc-book__content{
  padding: 0 20px 20px 0;
  color: #4E4E4E;
  font-size: 14px;
  position: relative;
}

.doc-book__content img{
  border: 1px solid #e5e5e5;
  max-width: 100%;
  box-sizing: border-box;
}
.doc-book__content .markdown-section{
  overflow: initial;
}
.doc-book__content .markdown-section a{
  color: #00A4FF;
  opacity: 1;
  transition: opacity .3s;
  text-decoration: none;
}
.doc-book__content .markdown-section h1,
.doc-book__content .markdown-section h2,
.doc-book__content .markdown-section h3,
.doc-book__content .markdown-section h4,
.doc-book__content .markdown-section h5,
.doc-book__content .markdown-section h6{
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #222222;

}
.doc-book__content .markdown-section h1 {
  font-size: 28px;
}
.doc-book__content .markdown-section h2{
  font-size: 20px;
}
.doc-book__content .markdown-section h3{
  font-size: 18px;
}
.doc-book__content .markdown-section h4{
  font-size: 16px;
}
.doc-book__content .markdown-section h5{
  font-size: 14px;
}
.doc-book__content .markdown-section a:hover{
  opacity: .7;
}
.doc-book__content .markdown-section table{
  border: 1px solid #F0F3F6;
}
.doc-book__content .markdown-section table th{
  padding: 9px 14px;
  font-weight: bold;
  color: #666;
  background-color: #f7f7f7;
  text-align: left;
  height: 38px;
  box-sizing: border-box;
  border: 0;
}
.doc-book__content .markdown-section table tr{
  background-color: transparent;
  border: 0;
}
.doc-book__content .markdown-section table td{
  border: 1px solid transparent;
  border-right-color: #F0F3F6;
  border-bottom-color: #F0F3F6;
  border-left-color: #F0F3F6;
  padding: 9px 14px;
}

.book-summary{
  position: static;
  width: auto;
  overflow: initial;
  background-color: transparent;
}

.doc-book__content .doc-book__rightnav{
    position: fixed;
    width: 160px;
    max-height: 300px;
    right: 9.5%;
    top: 170px;
    border-left: 1px solid rgba(213,222,237,1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px;
    z-index: 999;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 1530px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .doc-book__content .doc-book__rightnav {
    right: 0 !important;
  }
}
.doc-book__content .doc-book__rightnav::before,
.doc-book__content .doc-book__rightnav::after{
  content: '';
  display: inline-block;
  width:8px;
  height:8px;
  background:rgba(255,255,255,1);
  border:2px solid rgba(213,222,237,1);
  position: absolute;
  left: -6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.doc-book__content .doc-book__rightnav::before{
  top: -10px;
}
.doc-book__content .doc-book__rightnav::after{
  bottom: -10px;
}
.doc-book__rightnav .doc-book-anchor__handle{
  height: 100%;
  overflow-y: auto;
}
.doc-book__rightnav .doc-book-anchor__list{
  padding: 0;
  margin: 0;
}
.doc-book__rightnav .doc-book-anchor__item{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 15px;
}
.doc-book__rightnav .doc-book-anchor__item:last-of-type{
  margin-bottom: 0;
}
.doc-book__rightnav .doc-book-anchor__item-text{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #565656;
  padding: 0;
}
.doc-book__rightnav .doc-book-anchor__item.is-active .doc-book-anchor__item-text{
  color: #416CE6;
}
.doc-book__rightnav .doc-book-anchor__item .doc-book-anchor__item-text:hover{
  color: #416CE6;
}
.doc-book__rightnav .doc-book-anchor__item .doc-book-anchor__item-text:active{
  color: #3660c1;
}
/* 返回顶部 */
.doc-return-top{
  position: absolute;
  width: 48px;
  right: -48px;
  top: 0;
}
.doc-return-top__btn{
  position: fixed;
  bottom: 90px;
  width: 36px;
  height: 36px;
  padding: 6px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
  background-color: rgba(162, 181, 194, .60);
  transition: background-color .3s;
  display: none;
}
.doc-return-top__btn:hover{
  background-color: rgba(162, 181, 194, .9);
}
/*美化chrome滚动条*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  background-color: #ddd;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, .05);
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .05);
}
