.el-button{
  height: 36px;
  width:78px;
  border-radius:4px;
  border: 1px solid #4C99FE;
  color: #4C99FE;
}

.el-button.el-button--primary{
  background:linear-gradient(90deg,rgba(55,136,255,1) 0%,rgba(31,79,255,1) 100%);
  color: #fff;
}
