
// 提示message
.my-message-tips{
  max-width: 616px;
  //top: $navBarHeight + 5px !important;
  &.el-message{
    padding: 12px 9px;
    min-height: 40px;
    @include boxSizing;
    .el-message__icon{
      margin-right: 8px;
    }
    &.info{
      border: 1px solid rgba($themeColor, .3);
    }
    &.warning{
      border: 1px solid rgba($warningColor, .3);
    }
    &.error{
      border: 1px solid rgba($errorColor, .3);
    }
    &.success{
      border: 1px solid rgba($successColor, .3);
    }
  }
  .message-url{
    position: absolute;
    right: 40px;
    top: 50%;
    @include transformMixin(translateY(-50%));
    cursor: pointer;
    color: $themeColor;
    &:hover {
      color: $themeHoverColor;
    }
    &:active {
      color: $themeActiveColor;
    }
    &.no-close{
      right: 10px;
    }
  }
  .el-message__content{
    //@include textOverFlow;
    display: inline-block;
    width: 80%;
    height: 100%;
    @include fontStyle;
  }
}

// 自动消失的message
.el-message{
  &.auto-close-message{
    background: #fff;
    @include boxShadow($messageBoxShadow);
    height: 40px;
    border: none;
    min-width: unset;
    padding: 0 16px;
    .el-message__icon{
      margin-right: 8px;
    }
    .el-message__content{
      font-size:14px;
      color: $fontColorBody;
    }
  }
}
